@using Nwazet.Commerce.Models.Couponing;

@{ 
    var items = (IEnumerable<CouponRecord>)Model.Territories;
}
@using (Html.BeginFormAntiForgeryPost()) {
    <fieldset class="contentItems bulk-items">
        <table class="items" summary="@T("Territories table")">
            <thead>
                <tr>
                    <th><input type="checkbox" class="check-all" /></th>
                    <th>@T("Name")</th>
                    <th>@T("Actions")</th>
                </tr>
            </thead>
            @foreach (var cr in items) {
                <tr>
                    <td><input type="checkbox" value="@cr.Id" name="itemIds"/></td>
                    <td>@Html.Encode(cr.Name)</td>
                    <td>
                        @Html.ActionLink(T("Edit").Text, "Edit", "CouponingAdmin", new { id = cr.Id }, null) |
                        @Html.ActionLink(T("Delete").Text, "Delete", "CouponingAdmin", new { id = cr.Id }, new { itemprop = "RemoveUrl UnsafeUrl" })
                    </td>
                </tr>
            }
        </table>
    </fieldset>
}

@Display(Model.Pager)

@Html.AntiForgeryTokenOrchard()