@using Orchard.Core.Contents.ViewModels;
@using Nwazet.Commerce.Models
@using Orchard.ContentManagement.MetaData.Models;
@using DiscountProduct = Nwazet.Commerce.ViewModels.DiscountProduct
@using ContentsProduct = Nwazet.Commerce.ViewModels.ContentsProduct

@{
    Style.Require("Accordion").AtHead();
    Style.Include("product-admin.css?v=1.1", "product-admin.min.css");

    var pageTitle = T("Manage Products");
    var createLinkText = T("Create New Product");
    Layout.Title = pageTitle;

    var AllowedProductTypes = Model.AllowedProductTypes == null
        ? new List<ContentTypeDefinition>()
        : (List<ContentTypeDefinition>)Model.AllowedProductTypes;

    IEnumerable<string> cultures = Model.Options.Cultures;

}

@using (Html.BeginFormAntiForgeryPost()) {
    <div class="box form-horizontal">
        <div class="box-header with-border">
            <h3 class="box-title">@T("Manage content")</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2 control-label">
                    <label class="align-right gray-label">@T("Content creation")</label>
                </div>
                @*@Html.ActionLink(createLinkText.Text, "Create", "Admin", new { Area = "Contents", Id = "Product" }, new { @class = "button primaryAction" })*@
                @if (AllowedProductTypes.Any()) {
                    @Html.ActionLink(createLinkText.Text,
                           "CreateProduct",
                           "ProductAdmin",
                           new {
                               Area = "Nwazet.Commerce",
                               ReturnUrl = Request.RawUrl,
                               id = AllowedProductTypes.Count() == 1 ? AllowedProductTypes.FirstOrDefault().Name : ""
                           },
                           new { @class = "button primaryAction" })
                }
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">@T("Content filtering")</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4 margin-bottom-lg">
                    <label for="title">@T("Title")</label>
                    <input class="text" type="text" name="Options.Title"
                           placeholder="@T("Title of product")"
                           value="@(Model.Options.Title)" />
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4 margin-bottom-lg">
                    <label for="sku">@T("Sku")</label>
                    <input class="text" type="text" name="Options.Sku"
                           placeholder="@T("Product identifier")"
                           value="@(Model.Options.Sku)" />
                </div>
                @if (((IEnumerable<KeyValuePair<string, string>>)Model.Options.FilterOptions).Count() > 1) {
                    <div class="col-xs-12 col-md-4 margin-bottom-lg">
                        <label for="filterResults">@T("Product type")</label>
                        <select id="filterResults" name="Options.SelectedFilter">
                            @Html.SelectOption((string)Model.Options.SelectedFilter, "", T("Any (show all)").ToString())
                            @foreach (var filterOption in Model.Options.FilterOptions) {
                                @Html.SelectOption((string)Model.Options.SelectedFilter, (string)filterOption.Key, (string)filterOption.Value)
                            }
                        </select>
                    </div>
                }
                @if (cultures.Count() > 1) {
                    <div class="col-xs-12 col-md-4 margin-bottom-lg">
                        <label for="filterCulture">@T("Culture")</label>
                        <select id="filterCulture" name="Options.SelectedCulture">
                            @Html.SelectOption((string)Model.Options.SelectedCulture, "", T("Any (show all)").ToString())
                            @foreach (string culture in cultures) {
                                @Html.SelectOption((string)Model.Options.SelectedCulture, culture, System.Globalization.CultureInfo.GetCultureInfo(culture).DisplayName)
                            }
                        </select>
                    </div>
                }
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12 margin-bottom-lg">
                    <a class="accordion-section-title" role="button" data-toggle="collapse" href="#collapserow" aria-expanded="false" aria-controls="collapseExample">
                        @T("Advanced filters")
                    </a>
                </div>
            </div>
        </div>
        <div id="collapserow" class="collapse">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-6 margin-bottom-lg">
                        <label> @T("Price")</label>
                        <div class="col-xs-6 col-md-6 col-lg-6 no-padding margin-bottom-lg">
                            <div class="input-group">
                                <span class="input-group-addon padding-5">@T("From")</span>
                                <input class="text number-personalize" type="number" name="Options.PriceFrom"
                                       step="0.01"
                                       placeholder="@T("Lowest price")"
                                       title="@T("Insert a decimal number")"
                                       value="@(Model.Options.PriceFrom)" />
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6 col-lg-6 no-padding margin-bottom-lg">
                            <div class="input-group">
                                <span class="input-group-addon padding-5">@T("To")</span>
                                <input class="text number-personalize" type="number" name="Options.PriceTo"
                                       step="0.01"
                                       placeholder="@T("Highest price")"
                                       title="@T("Insert a decimal number")"
                                       value="@(Model.Options.PriceTo)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6 margin-bottom-lg">
                        <label> @T("Inventory")</label>
                        <div class="col-xs-6 col-md-6 col-lg-6 no-padding margin-bottom-lg">
                            <div class="input-group">
                                <span class="input-group-addon padding-5">@T("From")</span>
                                <input class="text number-personalize" type="number" name="Options.InventoryFrom"
                                       step="1"
                                       title="@T("Insert an integer number")"
                                       placeholder="@T("Lowest product quantity")"
                                       value="@(Model.Options.InventoryFrom)" />
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6 col-lg-6 no-padding margin-bottom-lg">
                            <div class="input-group">
                                <span class="input-group-addon padding-5">@T("To")</span>
                                <input class="text number-personalize" type="number" name="Options.InventoryTo"
                                       step="1"
                                       title="@T("Insert an integer number")"
                                       placeholder="@T("Highest product quantity")"
                                       value="@(Model.Options.InventoryTo)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4 margin-bottom-lg">
                        <label class="gray-label">@T("Status")</label>
                        <select id="contentResults" name="Options.ContentsStatus">
                            @Html.SelectOption((ContentsStatus)Model.Options.ContentsStatus, ContentsStatus.Latest, T("Latest").ToString())
                            @Html.SelectOption((ContentsStatus)Model.Options.ContentsStatus, ContentsStatus.Published, T("Published").ToString())
                            @Html.SelectOption((ContentsStatus)Model.Options.ContentsStatus, ContentsStatus.Draft, T("Unpublished").ToString())
                            @Html.SelectOption((ContentsStatus)Model.Options.ContentsStatus, ContentsStatus.AllVersions, T("All versions").ToString())
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4 margin-bottom-lg">
                        <label for="discountChoose">@T("Discount")</label>
                        <select id="discountChoose" name="Options.FilterDiscount">
                            @Html.SelectOption((DiscountProduct)Model.Options.FilterDiscount, DiscountProduct.ShowAll, T("Any (show all)").Text)
                            @Html.SelectOption((DiscountProduct)Model.Options.FilterDiscount, DiscountProduct.Discount, T("Discount").Text)
                            @Html.SelectOption((DiscountProduct)Model.Options.FilterDiscount, DiscountProduct.NoDiscount, T("No Discount").ToString())
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body with-border-top">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4 margin-bottom-lg">
                    <label for="orderResults">@T("Content sorting")</label>
                    <select id="orderResults" name="Options.OrderBy">
                        @Html.SelectOption((ContentsProduct)Model.Options.OrderBy, ContentsProduct.Created, T("Recently created").Text)
                        @Html.SelectOption((ContentsProduct)Model.Options.OrderBy, ContentsProduct.Modified, T("Recently modified").Text)
                        @Html.SelectOption((ContentsProduct)Model.Options.OrderBy, ContentsProduct.Title, T("Title").Text)
                        @Html.SelectOption((ContentsProduct)Model.Options.OrderBy, ContentsProduct.Price, T("Price").Text)
                        @Html.SelectOption((ContentsProduct)Model.Options.OrderBy, ContentsProduct.Inventory, T("Available").Text)
                    </select>
                </div>
            </div>
        </div>
        <div class="box-footer align-right padding-right-35">
            <button type="submit" name="submit.Filter" value="yes please">@T("Apply")</button>
        </div>
    </div>

    <fieldset class="contentItems bulk-items">
        @Display(Model.ContentItems)
    </fieldset>
    @Display(Model.Pager)
}
