@using Nwazet.Commerce.ViewModels
@using System.Linq
@{
    Style.Include("order-admin.css", "order-admin.min.css");

    var pageTitle = T("Manage Orders");
    Layout.Title = pageTitle;
    var selectedFilter = (string)Model.Options.SelectedFilter ?? "";
}

@using (Html.BeginFormAntiForgeryPost()) {
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">@T("Manage content")</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6">
                    <label class="col-sm-3 align-right gray-label">@T("Actions:")</label>
                    <div class="col-sm-9">
                        <select id="publishActions" name="Options.BulkAction">
                            @Html.SelectOption((ContentsBulkAction)Model.Options.BulkAction, ContentsBulkAction.None, T("Choose action...").ToString())
                            @Html.SelectOption((ContentsBulkAction)Model.Options.BulkAction, ContentsBulkAction.Remove, T("Archive").ToString())
                        </select>
                        <button type="submit" id="applyManageContentBtn" name="submit.BulkEdit" value="yes">@T("Apply")</button>
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">@T("Content filtering")</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4 margin-bottom-lg">
                    <label for="orderkey">@T("Order Key") : </label>
                    <input class="text" type="text" name="Options.OrderKey"
                           placeholder="@T("Order Key of Order")"
                           value="@(Model.Options.OrderKey)" />
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4 margin-bottom-lg">
                    <label for="user">@T("User") : </label>
                    <input class="text" type="text" name="Options.User"
                           placeholder="@T("Name or Surname or E-mail")"
                           value="@(Model.Options.User)" />
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4 margin-bottom-lg">
                    <label for="filterResults" class="bulk-filter">@T("Show") :</label>
                    @Html.DropDownList("Options.SelectedFilter",
                        new List<SelectListItem> {
                            new SelectListItem {
                                Selected = String.IsNullOrEmpty(selectedFilter) ||
                                           selectedFilter.Equals("active", StringComparison.OrdinalIgnoreCase),
                                Text = T("Active orders").Text,
                                Value = "active"
                            },
                            new SelectListItem {
                                Selected = selectedFilter.Equals("any", StringComparison.OrdinalIgnoreCase),
                                Text = T("All orders").Text,
                                Value = "any"
                            }
                        }
                        .Union(((ContentOptions)Model.Options).FilterOptions.Select(
                            o => new SelectListItem {
                                Selected = selectedFilter.Equals(o.Key, StringComparison.OrdinalIgnoreCase),
                                Text = o.Value,
                                Value = o.Key
                                }
                            )))
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4 margin-bottom-lg">
                    <label for="orderResults">@T("Content sorting")</label>
                    <select id="orderResults" name="Options.OrderBy">
                        @Html.SelectOption((ContentsOrder)Model.Options.OrderBy, ContentsOrder.Created, T("Recently created").Text)
                        @Html.SelectOption((ContentsOrder)Model.Options.OrderBy, ContentsOrder.Modified, T("Recently modified").Text)
                    </select>
                </div>
            </div>
        </div>
        <div class="box-footer align-right padding-right-35">
            <button type="submit" name="submit.Filter" value="yes please">@T("Apply")</button>
        </div>
    </div>

    <fieldset class="contentItems bulk-items">
        @Display(Model.ContentItems)
    </fieldset>
    @Display(Model.Pager)
}
