@using Nwazet.Commerce.Models
@{
    var method = (FlexibleShippingMethodPart)Model.ShippingMethod;
    var shippingAreas = (IEnumerable<ShippingArea>)Model.ShippingAreas;
    var includedAreas = new HashSet<string>((method.IncludedShippingAreas ?? "").Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries));
    var excludedAreas = new HashSet<string>((method.ExcludedShippingAreas ?? "").Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries));
}
<fieldset>
    <label class="sub" for="@Html.Id("Name")">@T("Method Name")</label><br />
    @Html.TextBox("Name", method.Name, new { @class = "text" })<br />
    <span class="hint">@T("The technical name of the shipping method (this is different from the title, which is the method's friendly name that will be displayed to end-users).")</span><br />
    <label class="sub" for="@Html.Id("ShippingCompany")">@T("Shipping Company")</label><br />
    @Html.TextBox("ShippingCompany", method.ShippingCompany, new { @class = "text" })<br />
    <label class="sub" for="@Html.Id("DefaultPrice")">@T("Price")</label><br />
    @Html.TextBox("DefaultPrice", method.DefaultPrice, new { @class = "text" })<br />
    <span class="hint" for="@Html.Id("DefaultPrice")">@T("The base price for shipping. In cases where VAT or similar taxes are applied on shipping, this is the price before tax.")</span><br />
</fieldset>