@model Nwazet.Commerce.ViewModels.HierarchyVatConfigurationPartViewModel
@{
    Script.Require("jQuery");
    Style.Include("vat.nwazet-commerce-admin.css?v=1.1");
}
<fieldset>
    <legend>Configuration for VAT Categories</legend>
    @if (Model.AllVatConfigurations.Any()) {
        <div>
            @T("Removing a VAT category will also cause all its configurations relative to a specific territory to be lost.")
        </div>

        <div class="container-configuration-vat">
            <div class="row-configuration-vat">
                <div class="cell-vat-check">
                    <span>&nbsp;</span>
                </div>
                <div class="cell-category-vat">
                    <span>@T("VAT Category")</span>
                </div>
                <div class="cell-ratestring-vat">
                    <span>@T("Applied Rate")</span>
                </div>
            </div>
            @for (int i = 0; i < Model.AllVatConfigurations.Length; i++) {
                <div class="row-configuration-vat">
                    <div class="cell-vat-check">
                        @Html.CheckBoxFor(m => m.AllVatConfigurations[i].IsSelected)
                    </div>
                    <div class="cell-category-vat">
                        @Model.AllVatConfigurations[i].VatConfigurationPartText
                        @Html.HiddenFor(m => m.AllVatConfigurations[i].VatConfigurationPartId)
                    </div>
                    <div class="cell-ratestring-vat">
                        @Html.TextBoxFor(m => m.AllVatConfigurations[i].RateString, "{0:F2}", new { @class = "text text-small" @**, @type = "number", @min = 0, @step = "any"**@})

                        @Html.HiddenFor(m => m.AllVatConfigurations[i].RateString@*, "{0:F2}",new { @class = "text text-small"*, @type = "number", @min = 0, @step = "any"*}*@)
                    </div>
                </div>
            }
        </div>


        <table class="vatConfigurationTable hierarchyVatConfigurationTable">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>@T("VAT Category")</th>
                    <th>@T("Applied Rate")</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.AllVatConfigurations.Length; i++) {
                    <tr>
                        <td>
                            @Html.CheckBoxFor(m => m.AllVatConfigurations[i].IsSelected)
                        </td>
                        <td>
                            @Model.AllVatConfigurations[i].VatConfigurationPartText
                            @Html.HiddenFor(m => m.AllVatConfigurations[i].VatConfigurationPartId)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.AllVatConfigurations[i].RateString, "{0:F2}", new { @class = "text text-small" @**, @type = "number", @min = 0, @step = "any"**@})
                        </td>
                    </tr>
                    using (Script.Foot()) {
                        <script type="text/javascript">
                            $(document).ready(function () {
                                var checkbox = $('#@Html.IdFor(m => m.AllVatConfigurations[i].IsSelected)');
                                var dependent = $('#@Html.IdFor(m => m.AllVatConfigurations[i].RateString)');
                                if (checkbox.attr('checked') !== undefined){
                                   dependent.show();
                                } else {
                                    dependent.hide();
                                }

                                checkbox.change(function(e){
                                    dependent.toggle();
                                });
                            });
                        </script>
                    }
                }
            </tbody>
        </table>
    }
    else {
        <div>@T("No VAT category has been configured.")</div>
    }
</fieldset>