@using System.Globalization
@using Nwazet.Commerce.Services
@using System.Collections.Generic
@using Nwazet.Commerce.Models;
@using System.Linq;
@using Orchard.ContentManagement;

@model Nwazet.Commerce.ViewModels.OrderEditorViewModel
@{
    Script.Require("jQuery");
    Style.Include("order-admin.css", "order-admin.min.css");
    Script.Include("order-admin.js", "order-admin.min.js");
}

<div class="order-editor">
    <fieldset class="order-tracking">
        <legend>@T("Tracking URL:")</legend>
        <div class="order-tracking-view">
            <a href="@Model.Order.TrackingUrl" target="_blank">@Model.Order.TrackingUrl (<i class="fa fa-external-link"></i>)</a>
            <button class="edit-button link">@T("Edit")</button>
        </div>
        <div class="order-tracking-edit">
            @Html.TextBoxFor(m => m.Order.TrackingUrl, new { @class = "text-medium order-tracking-edit-field" })
            <button class="cancel-button link">@T("Cancel")</button>
        </div>

        @foreach (var additionalShape in Model.AdditionalOrderTrackingShapes) {
            @Display(additionalShape)
        }
    </fieldset>
</div>