@using Nwazet.Commerce.Models
@using Nwazet.Commerce.Services
@using Orchard.ContentManagement
@model Nwazet.Commerce.ViewModels.ProductEditorViewModel


<fieldset class="product-part-edit product-part-inventory">
    <legend>@T("Inventory")</legend>
    @Html.CheckBoxFor(m => m.Product.IsDigital)
    <label class="sub" for="@Html.IdFor(m => m.Product.IsDigital)">@T("digital product")</label><br />
    @if (Model.Product.ConsiderInventory) {
        <span class="hint">@T("This digital product will be considered to be available in a limited quantity, based on the inventory.")</span>
    }
</fieldset>